*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header>input{
    height: 42px;
    width: 360px;
    border: 1px solid black;
    outline: none;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 10px;
}


header>a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 900;
}

header>button{
    height: 45px;
    width: fit-content;
    padding: 12px;
    border: none;
    background: linear-gradient(to bottom right, pink,red);
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 12px;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    column-gap: 10px;
}


#left{
    width: 23%;
    height: 400px;
    overflow: scroll;

    display: flex;

    flex-direction: column;
    row-gap: 10px;
}

#right{
     overflow: scroll;
    width:75%;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
}

#list1{
   
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.song{
    height: 220px;
    width: 200px;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(222, 59, 59, 0.688);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song>img{
    width: 150px;
    height: 160px;
    border-radius: 20px;
}

.song>p{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.song>button{
    display: none;
    cursor: pointer;
    position: absolute;
    left:120px;
    top:120px;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    border: 1px solid green;
}

#player>button{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    border: 1px solid green;
}

.song:hover>button{
    display: flex;
}


#player{
    font-size: 26px;
    font-weight: 700;
    color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background-color: rgba(36, 37, 36, 0.758);
}


@media (max-width:648px){
    #left{
        display: none;
    }

    #list1{
        flex-wrap: wrap;
        row-gap: 10px;
    }

    #right{
        width: 90%;
        height: fit-content;
    }

    .song>p{
        font-size: 14px;
        font-weight: 500;
        color: white;
    }

    #player{
        font-size: 18px;
        font-weight: 500;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .song>button{
    display: flex;
    cursor: pointer;
    position: absolute;
    left:120px;
    top:120px;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    border: 1px solid green;
}
}